extends layout

block dynamicContent
  h2 Inscription recruteur sur O'JSON
  if status
    p
      strong Message envoyé

  .inscription
    input(type='image' src="O'JSON.png" width='280' height='280')
    form(method="post", action="/contactRecruteur/send")
     p
      label Votre Nom:
      input(type="text", name="nom")
     p
      label Votre Mot de Passe:
      input(id="mdp" type="text", name="mdp")
     p
      label Confimer votre Mot de Passe:
      input(id="confirm_mdp" type="text", name="ConfirmMDP")
     p
      input(type="submit", value="Envoyer")