html
  head
    title=title
    link(rel="stylesheet" href="/style.css")
  header
        h1 O'Json - #{title}
        if username
          span Connecté en tant que #{username}
            a(href="/login/logout") (Déconnexion)
        else
          span Non connecté   
  body
      nav
        ul
          li
            a.Accueil(href="/") Accueil  
          li           
          if username        
            a.Accueil(href="/projects") CV          
          li
          if username        
            a.Accueil(href="/formulaire") Formulaire         
          li
          if !username
            a.Accueil(href="/contact") Inscription Candidat
          li 
          if !username
            a.Accueil(href="/contactRecruteur") Inscription Recruteur
          if !username
            li
              a.Accueil(href="/login") Connexion
      h1 Bienvenue sur O'JSON,le meilleur Jobboard IT! 
      br
      .content
        block dynamicContent

      footer © O'Json 2021. All Rights Reserved.
